body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.tomato {
  display: block;
  position: fixed;
  max-height: 100px;
  max-width: 100px;
  transform: translate(102%, 105%);
}

.clock {
  display: block;
  text-align: center;
}

.player-container {
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}

.player-container svg {
  transform: rotate(-90deg);
}

.container {
  width: 50%;
  margin: 0 auto;
}

.track-outline {
  position: absolute;
  top: 0;
  left: 0;
}

.moving-outline {
  /* display: float-left; */
  position: relative;
}

.btn-section {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 50%;
  padding: 25px 0;
}

.btns {
  margin: 10px;
  padding: 10px;
  color: black;
  background: white;
  text-transform: uppercase;
  border: 1px solid black;
  cursor: pointer;
}