.player-container {
  position: relative;
  top: 0;
  left: 0;
}

.track-outline {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(50%, 0%);
}

.moving-outline {
  position: absolute;
  z-index: 10;
  transform: translate(-50%, 0%);
}

.btns {
  color: black;
  background: white;
  text-transform: uppercase;
  border: 1px solid black;
}